.dropdown-namelist-item {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px
}
nav {
    background-color: #FFB343;
}
.top-nav {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFB343;
    height: 5em;
    color: white;
}

.main-title {
    margin-bottom: -8px;
	margin-top: -10px;
	font-size: 20px;
}
.alt-title {
	font-size: 14px;
	margin-top: -5px;
	margin-left: 3px;
}
.upload-btn {
	float: right;
}

.top-nav a {
    color: whitesmoke;
}
.main-row {
    position: fixed;
    top: 75px;
    height: calc(100% - 75px);
    width: 100%;
    background-color: #f6f6f6;
}
.input-field-container {

    width: 20em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: ghostwhite;
    border-radius: 5px;

}

.file-input-container {
    margin-top: 20px;

}

.brand-logo {
    margin-left: 2em;
}

.vis-select {
    height: 100%;
    background-color: #f8f8f8;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 20px
}
/*.status-bar {*/
    /*width: 70%;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*height: 7em;*/
    /*padding-right: 2em;*/
    /*padding-left: 2em;*/
    /*padding-top: 20px*/
/*}*/

.card {
    background-color: #FFB343;
}


.demo {
    float: right;
}
.file-input-card {
    background-color: #FFFFFF;
}
.name-input-card {
    background-color: #FFFFFF;
}


.name-select-card {
    padding: 20px;
    background-color: #FFFFFF;
}

.svg-container {
    height: calc(97% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.svg-port {
    height: 100%;
    width: 100%;
    background-color: white;
}
.collection {
    border: 0;
}



.vis-details {
    background-color: #e4e4e4;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 20px;
    height: 100%;

	overflow: scroll;

	line-height: 16px;
	font-size: 14px;
}

.vis-details-card {
    margin-left: 0.5rem;
}

.name-display {
    font-size: 30px;
    color: #1c7e75;
}

.back-arrow {
    font-size: 40px;
    margin-top: 16px;
    color: #dfdfdf;
}

.top-link {
    float: right;
    padding-top: 24px;
    padding-right: 20px;
    font-size: 16px;
}
.top-link a {
    color: #FFFFFF;
}

.footer {
	color: white;
    background-color: #232323;

	width: 100%;
	height: 3%;

	position: absolute;
	bottom: 0;
	left: 0;
}

.padded-text {
	width: 60%;
	margin: 0 20%;

}
.line-btn {
    display: block;
    margin-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
html, body, h1, h2, h3, h4, h5, h6, div {
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
	overflow-y: hidden;
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10000;
}

.overlay {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: white;

}

.overlay .title-bar {
	position: absolute;
	height: 8%;
	width: 100%;
	top:0;
	left:0;

	background-color: #FFB343;
	color: white;
}

.overlay .title-bar .title {
	margin-left: 20px;
	font-size: 28px;
	text-align: left;
	line-height: 10%;
	display: inline-block;
}

.overlay .title-bar p, .overlay .title-bar input {
	line-height: 10%;
	margin-top: 2.5%;
}
.overlay .title-bar .close-btn {
	float: right;
	margin-top: 1%;
	font-size: 40px;
	color: white;
	margin-right: 10px;
}
#ministerial-label {
	float: right;
	display: inline-block;

	margin-right: 10px

}
#ministerial-slider {
	float: right;
	width: 30%;
	margin-right: 20px;
}
#ministerial-display{
	float: right;
	width: 40px;
	font-size: 24px;
	margin-right: 10px;
	display: inline-block;

}

.overlay svg {
	position: absolute;
	top:8%;
	height: 92%;
	width: 100%;

}

.d3-tip {
	z-index: 100001;
}
/*.overlay .title-bar input {*/
	/*float: right;*/
	/*width: 50px;*/
/*}*/
