extends layout

block content
	.row.main-row
		.col.s7(style='margin-top: 20px')
			.row
				#row1.col.s4
					.card.white-text(style='margin-bottom: 20px')
						a(href='works', onmouseover="(function display(){DisplayDetails('works')})()")
							.card-image
								img(src='/images/worksnew.png')
								// <span class="card-title black-text">Dynamika liczby publikacji</span>
					.card.white-text
						a(href='research-map')
							.card-image(onmouseover="(function display(){DisplayDetails('circle')})()")
								img(src='/images/research-map.jpg')
								// <span class="card-title black-text">Publikacje na kole dziedzin</span>
				#row2.col.s4
					.card.white-text(style='margin-bottom: 20px')
						a(href='collab')
							.card-image(onmouseover="(function display(){DisplayDetails('graph')})()")
								img(src='/images/collab.jpg')
								// <span class="card-title black-text">Graf współautorstwa</span>
					.card.white-text
						a(href='bubbles')
							.card-image(onmouseover="(function display(){DisplayDetails('bubbles')})()")
								img(src='/images/bubbles.jpg')
								// <span class="card-title black-text">Objętość piśmiennicza w skali czasu</span>
				#row3.col.s4
					.card.white-text(style='margin-bottom: 20px')
						a(href='google-map')
							.card-image(onmouseover="(function display(){DisplayDetails('map')})()")
								img(src='/images/google-map.jpg')
								// <span class="card-title black-text">Mapa publikowania prac</span>
					.card.white-text
						a(href='wordcloud')
							.card-image(onmouseover="(function display(){DisplayDetails('wordcloud')})()")
								img(src='/images/wordcloud.jpg')
								// <span class="card-title black-text">Chmury słów kluczowych</span>
		.col.s5(style='height: 100%; padding-right: 0')
			.z-depth-1.vis-select
				.row
					.card.name-input-card.col.s12
						.card-content.black-text
							span.card-title=lang.vis_details_title
							br
							span#details-host
				.row
					ul.collection.with-header.z-depth-1
						li.collection-header
							h5 Statystyki
						li.collection-item
							div
								span Łącznie prac:
								span#works-amount-display(style='float: right') -
						li.collection-item
							div
								span Średnia liczba prac na rok:
								span#mean-works-amount-display(style='float: right') -
						li.collection-item
							div
								span Liczba współautorów:
								span#coworkers-amount-display(style='float: right') -
						li.collection-item
							div
								span Najczęstsza współpraca:
								span#max-shared-works-amount-display(style='float: right') -

block append scripts
	script(type='text/javascript').
		var jsStrings = !{JSON.stringify(lang.scriptable)};
	script(src="/js/index.js")
	// GoStats JavaScript Based Code
	script(type='text/javascript', src='http://gostats.pl/js/counter.js')
	script(type='text/javascript').
		_gos='monster.gostats.pl';_goa=493654;
		_got=5;_goi=1;_gol='licznik na stronie';_GoStatsRun();
	noscript
		a(target='_blank', title='licznik na stronie', href='http://gostats.pl')
			img(alt='licznik na stronie', src='http://monster.gostats.pl/bin/count/a_493654/t_5/i_1/counter.png', style='border-width:0')
	// End GoStats JavaScript Based Code

