extends layout
block content
	.row.main-row
		.col.s3.vis-details.z-depth-1(style='padding-left: 0')
			.row
				.card
					.card-content.white-text
						span.card-title=lang.vis_titles[visname]
						p=lang.scriptable.vis_details[visname]

			.row(style='padding-left: 10px;')
				button.btn(onclick='genPdfDoc()')=lang.generate_pdf
		//.col.s9.svg-container
		//	svg#svg-port.z-depth-1.svg-port
		.col.s9.svg-container
			#map(style='height: 100%; padding: 20px')
block append scripts
	script(src='/js/markerclusterer.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=' + googleApiKey + '&callback=initMap', async='', defer='')
	script(src='/dist/google-map.js')
