.dropdown-namelist-item {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px
}


.file-input-container {
    margin-top: 20px;

}

.brand-logo {
    margin-left: 2em;
}

.vis-select {
    position: absolute;
    right: 68%;
    background-color: #e4e4e4;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 20px
}
.status-bar {
    width: 70%;
    position: absolute;
    right: 0;
    height: 7em;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 20px
}

.card {
    background-color: #8BC34A;
}
.demo {
    float: right;
}
.file-input-card {
    background-color: #FFFFFF;
}
.name-input-card {
    background-color: #FFFFFF;
}


.name-select-card {
    padding: 20px;
    background-color: #FFFFFF;
}
.nav-wrapper {
    margin-bottom: 0;
    background-color: #8BC34A;
}

.svg-port {
    position: absolute;
    left: 35%;
    width: 60%;
    margin-top:50px;
    height: 80%;
}
.collection {
    border: 0;
}
.vis-info {
    position: absolute;
    right: 68%;
    background-color: #e4e4e4;
    height: 100%;
    width: 32%;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 20px
}
html, body, h1, h2, h3, h4, h5, h6, div {
    padding: 0;
    border: 0;
    margin: 0;
}